<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="default_channel" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroLink"
        tools:targetApi="31">

        <activity
            android:name=".mainConsumer.FarmerProfile.FarmerProfileActivity"
        android:exported="true" />  <!-- Adjust 'exported' based on your needs -->

        <activity
            android:name=".mainConsumer.FarmerProfile"
            android:exported="false" />
        <activity
            android:name=".mainConsumer.Profile.EditConsumerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mainfarmer.orders.OrdersMainF"
            android:exported="false" />
        <activity
            android:name=".mainConsumer.Orders.OrdersMain"
            android:exported="false" />
        <activity
            android:name=".mainConsumer.Profile.MainProfileActivity"
            android:exported="true" /> <!-- Farmer-related Activities -->
        <activity
            android:name=".mainfarmer.Profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mainfarmer.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mainfarmer.Qualitycheck.MainActivity"
            android:exported="false" />
        <activity
            android:name=".mainfarmer.Frontpage.UpdateImageInven"
            android:exported="false" />
        <activity
            android:name=".mainfarmer.Frontpage.AddImage"
            android:exported="false" />
        <activity
            android:name=".mainfarmer.Frontpage.Inventory"
            android:exported="false" /> <!-- Only one Inventory activity -->
        <activity
            android:name=".mainfarmer.FrontpageActivity"
            android:exported="false" /> <!-- Main App Activity -->
        <activity
            android:name=".mainpage.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AgroLink" /> <!-- Consumer-related Activity -->
        <activity
            android:name=".mainConsumer.consumerFront"
            android:exported="false" /> <!-- Authentication Activities -->
        <activity
            android:name=".signing.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".signing.LoginActivity"
            android:exported="false" /> <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
